<div class="flexslider">
    <ul class="slides">
        <li>
            <figure>
                <picture>
                    <source srcset="{{ site.baseurl }}/assets/images/hp/petit-prince-mob.jpg" media="(max-width:1023px)">
                    <img src="{{ site.baseurl }}/assets/images/hp/petit-prince.jpg" alt="Le petit Prince" width="650" height="395">
                </picture>
            </figure>
            <p class="flex-caption">
                For Research, For Health, For our future<br>
                <a href="{{ site.baseurl }}/about" class="btn">More info</a>
            </p>
        </li>
        <li>
            <figure>
                <picture>
                    <source srcset="{{ site.baseurl }}/assets/images/hp/laboratoire-mob.jpg" media="(max-width:1023px)">
                    <img src="{{ site.baseurl }}/assets/images/hp/laboratoire.jpg" alt="Notre laboratoire" width="650" height="395">
                </picture>
            </figure>
            <p class="flex-caption">
                For Research, For Health, For our future<br>
                <a href="{{ site.baseurl }}/research" class="btn">More info</a>
            </p>
        </li>
        <li>
            <figure>
                <picture>
                    <source srcset="{{ site.baseurl }}/assets/images/hp/carte-heuristique-mob.jpg" media="(max-width:1023px)">
                    <img src="{{ site.baseurl }}/assets/images/hp/carte-heuristique.jpg" alt="Carte heuristique" width="650" height="395">
                </picture>
            </figure>
            <p class="flex-caption">
                For Research, For Health, For our future<br>
                <a href="{{ site.baseurl }}/education" class="btn">More info</a>
            </p>
        </li>
        <li>
            <figure>
                <picture>
                    <source srcset="{{ site.baseurl }}/assets/images/hp/maison-simplissima-mob.jpg" media="(max-width:414px)">
                    <img src="{{ site.baseurl }}/assets/images/hp/maison-simplissima.jpg" alt="La maison SimplissimA" width="650" height="395">
                </picture>
            </figure>
            <p class="flex-caption">
                For Research, For Health, For our future<br>
                <a href="{{ site.baseurl }}/media" class="btn">More info</a>
            </p>
        </li>
    </ul>
</div>
