<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="{{ site.baseurl }}/assets/images/hp/petit-prince.jpg" alt="Le petit Prince">
            <p class="flex-caption intro">
                For Research, For Health, For our future<br>
                <a href="{{ site.baseurl }}/about" class="btn">More info</a>
            </p>
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/images/hp/laboratoire.jpg" alt="Notre laboratoire">
            <p class="flex-caption intro">
                For Research, For Health, For our future<br>
                <a href="{{ site.baseurl }}/research" class="btn">More info</a>
            </p>
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/images/hp/carte-heuristique.jpg" alt="Carte heuristique">
            <p class="flex-caption intro">
                For Research, For Health, For our future<br>
                <a href="{{ site.baseurl }}/education" class="btn">More info</a>
            </p>
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/images/hp/maison-simplissima.jpg" alt="La maison SimplissimA">
            <p class="flex-caption intro">
                For Research, For Health, For our future<br>
                <a href="{{ site.baseurl }}/media" class="btn">More info</a>
            </p>
        </li>
    </ul>
</div>
